:root {
    --red: #e60000;
    --green: #00ac00;
    --blue: #030855;
    --yellow: #e9bc0b;
    --white: #ffffff;
    --border: #000000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    margin: 0;
}

.ludo-board {
    width: 600px;
     height: 600px;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: 5px solid var(--border);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/* Houses */
.house { grid-column: span 6; grid-row: span 6; padding: 40px; }
.red { background-color: var(--red); }
.green { background-color: var(--green); }
.blue { background-color: var(--blue); }
.yellow { background-color: var(--yellow); }

.box {
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* Tokens */
.token {
    border-radius: 50%;
    border: 2px solid #333;
}
.red-token { background: var(--red); }
.green-token { background: var(--green); }
.blue-token { background: var(--blue); }
.yellow-token { background: var(--yellow); }

/* Paths & Cells */
.cell {
    border: 1px solid #ccc;
    background: white;
}

.home {
    grid-column: span 3;
    grid-row: span 3;
    background: conic-gradient(
        var(--red) 0deg 90deg, 
        var(--blue) 90deg 180deg, 
        var(--yellow) 180deg 270deg, 
        var(--green) 270deg 360deg
    );
}

/* Path Alignment */
.path-container.vertical { grid-column: span 3; 
    grid-row: span 6; display: grid; grid-template-columns: repeat(3, 1fr); }
.path-container.horizontal { grid-column: span 6; grid-row: span 3; display: grid;
     grid-template-rows: repeat(3, 1fr); grid-auto-flow: column; }